.content-block.content-block-quote-section {
	padding: 100px 5%;
	.content-block__wrapper {
		max-width: 1140px;
		margin: 0 auto;
	}
	.content-block__content {
		font-size: 2rem;
		font-weight: 700;
		p {
			line-height: 1.2;
		}
		.quote-reference {
			font-size: 1.25rem;
		}
	}
}