@import '../variables';

.staff {
	background-color: $light-gray;
	border-radius: 3px;
	overflow: hidden;
	margin-top: 1.5rem;
	&__image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		min-height: 300px;
		flex-shrink: 0;
		margin-right: 0;
	}
	&__body {
		padding: 1.5rem 5%;
		h2 {
			margin-top: 0;
			margin-bottom: 0.5rem;
		}
		h3 {
			margin-top: 0;
			margin-bottom: 0.25rem;
			text-transform: uppercase;
		}
	}
	&__short-bio {
		margin-top: 1.5rem;
	}
	&__title {
		font-size: 1rem;
		font-style: italic;
		margin-top: 0;
		margin-bottom: 0;
		color: #444;
		font-family: 'Open Sans', sans-serif;
	}
	.button-wrapper {
		margin-top: 2.5rem;
	}
}

.staff-grid {
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	.staff--compact {
		display: block;
		background-color: transparent;
		width: 100%;
		margin-top: 0;
		margin-bottom: 1.5rem;
		h3 {
			font-size: 1.5rem;
			margin-bottom: 0;
		}
		.staff__image {
			min-height: 280px;
			border-radius: 3px;
			overflow: hidden;
			margin-bottom: 0;
			width: auto;
		}
		.staff__body {
			text-align: center;
			padding: 1rem;
		}
	}
	.text-link-wrapper {
		display: flex;
		display: -webkit-flex;
		align-items: center;
		-webkit-align-items: center;
		justify-content: center;
		-webkit-justify-content: center;
		&:hover .text-link {
			border-bottom: 2px solid $blue;
		}
	}
	.text-link {
		line-height: 1.2;
		margin-top: 0.5rem;
		letter-spacing: 1px;
		text-transform: uppercase;
		font-weight: 700;
		text-decoration: none;
		border-bottom: 2px solid transparent;
		transition: border-bottom 150ms;
		svg {
			margin-left: 3px;
			height: 12px;
		}
	}
}

.single-staff_members {
	.page-content {
		margin: 2.5rem 0;
		h2 {
			margin-top: 0;
		}
	}
	.staff-info-wrapper {
		width: 100%;
		max-width: 400px;
		text-align: center;
		margin: 0 auto 2.5rem;
		flex-shrink: 0;
	}
	.staff-info {
		background-color: $light-gray;
		padding: 0.5rem;
	}
	.staff-image {
		height: 0;
		padding-top: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.staff-name {
		font-size: 1.75rem;
		font-weight: 700;
		text-transform: uppercase;
		color: $black;
		margin: 0;
	}
	.staff-title {
		margin: 0;
	}
	.button-wrapper {
		text-align: center;
	}
}

@media (min-width: 480px) {
	.staff-grid {
		.staff--compact {
			width: 48%;
			margin-right: 2%;
			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}

@media (min-width: 680px) {
	.staff {
		display: flex;
		display: -webkit-flex;
		flex-direction: row;
		-webkit-flex-direction: row;
		&__image {
			width: 360px;
			margin-bottom: 0;
		}
		&__body {
			padding: 3.5rem 5%;
		}
	}
	.single-staff_members {
		.page-content {
			display: flex;
			display: -webkit-flex;
		}
		.staff-info-wrapper {
			width: 35%;
			min-width: 280px;
			margin: 0 2.5rem 0 0;
		}
	}
}

@media (min-width: 780px) {
	.staff-grid {
		justify-content: center;
		-webkit-justify-content: center;
		.staff--compact {
			width: 31%;
			margin-right: 2%;
			&:last-of-type {
				margin-right: 0;
			}
		}
	}
	
}