.content-block.content-block__card-list {
	.card-list {
		display: flex;
		display: -webkit-flex;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		max-width: 1440px;
		margin: 0 auto;
		justify-content: center;
		-webkit-justify-content: center;
	}
	.card {
		width: 30%;
		margin: 30px 1%;
		&__text {
			font-size: 1.125rem;
		}
	}
}

@media (max-width: 980px) {
	.content-block.content-block__card-list {
		.card {
			width: 46%;
		}
	}
}

@media (max-width: 480px) {
	.content-block.content-block__card-list {
		.card-list {
			padding: 0 5%;
		}
		.card {
			width: 100%;
			margin: 30px 0;
		}
	}
}