.content-block__image-background-with-buttons {
	background-size: cover;
	background-position: center;
	position: relative;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-webkit-justify-content: center;
	&::after {
		content: '';
		position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
	}
	.content-block__content-wrapper {
		position: relative;
		z-index: 1;
		color: #fff;
		text-align: center;
	}
	.button {
		margin: 5px;
	}
	.button--ghost {
		background-color: rgba( 255, 255, 255, .15);
		&:hover {
			background-color: #fff;
		}
	}
	h2 {
		margin-top: 0;
		color: #fff;
	}
}