.content-block.content-block__icon-list {
	padding: 140px 5%;
	text-align: center;
	.icon-list {
		display: flex;
		display: -webkit-flex;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		max-width: 1140px;
		margin: 100px auto 0;
	}
	.icon-list__item {
		width: 46%;
		margin: 20px;
		text-align: left;
		display: flex;
		display: -webkit-flex;
		h3 {
			margin-top: .5rem;
		}
	}
	.icon-list__icon {
		flex-shrink: 0;
		font-size: 1.75rem;
		background-color: $blue;
		color: $white;
		display: inline-block;
		width: 60px;
		height: 60px;
		border-radius: 100%;
		display: flex;
		display: -webkit-flex;
		align-items: center;
		-webkit-align-items: center;
		justify-content: center;
		-webkit-justify-content: center;
	}
	.icon-list__text {
		padding-left: 20px;
	}
}