.content-block.content-block-basic-text {
	.content-block__content {
		max-width: 840px;
		margin: 0 auto;
	}
	h2 {
		margin-top: 0;
	}
}

.content-block.content-block-centered-text {
	text-align: center;
}

@media (max-width: 780px) {
	.content-block.content-block-centered-text {
		text-align: left;
	}
}