.content-block.content-block__icon-left {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-webkit-justify-content: center;
	padding: 0;
	.content-block__item {
		display: flex;
		display: -webkit-flex;
		position: relative;
		width: 33%;
		padding: 50px 2.5%;
		border-right: 1px solid #eee;
	}
	.content-block {
		&__body {
			display: flex;
			display: -webkit-flex;
			flex-direction: column;
			-webkit-flex-direction: column;
		}
		&__header {
			text-transform: uppercase;
			display: flex;
			display: -webkit-flex;
			align-items: center;
			-webkit-align-items: center;
			h3 {
				margin-top: 0;
				margin-bottom: 0;
			}
		}
		&__text {
			flex-shrink: 0;
			flex-grow: 1;
			flex-basis: auto;
		}
		&__icon {
			flex-shrink: 0;
			margin-right: 20px;
			img {
				width: 80px;
				height: 80px;
			}
		}
		&__button {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}

@media (max-width: 1240px) {
	.content-block.content-block__icon-left {
		flex-direction: column;
		-webkit-flex-direction: column;
		.content-block__item {
			width: 100%;
			padding: 50px 5%;
			border-right: 0;
			border-bottom: 1px solid #eee;
		}
		.content-block__body {
			max-width: 840px;
			margin: 0 auto;
		}
	}
}

@media (max-width: 780px) {
	.content-block.content-block__icon-left {
		.content-block__item {
			flex-direction: column;
			-webkit-flex-direction: column;
			position: relative;
			padding: 50px 5%;
		}
	}
}