.content-block.content-block-image-left {
	padding-left: 5%;
	padding-right: 5%;
	.content-block__wrapper {
		max-width: 1240px;
		margin: 0 auto;
		display: flex;
		display: -webkit-flex;
	}
	.content-block__image {
		max-width: 500px;
		width: 100%;
		border-radius: 5px;
		overflow: hidden;
		flex-shrink: 0;
		img {
			width: 100%;
		}
	}
	.content-block__content {
		padding: 5%;
		flex-shrink: 1;
		flex-grow: 0;
		h2 {
			margin-top: 0.5rem;
		}
	}
}

@media (max-width: 980px) {
	.content-block.content-block-image-left {
		.content-block__wrapper {
			flex-direction: column;
			-webkit-flex-direction: column;
		}
		.content-block__image {
			flex-shrink: 1;
			max-width: initial;
			img {
				height: 450px;
				object-fit: cover;
			}
		}
		.content-block__content {
			padding-left: 0;
		}
	}
}

@media (max-width: 580px) {
	.content-block.content-block-image-left {
		.content-block__image {
			img {
				height: 350px;
			}
		}
	}
}