@import 'variables';

.button {
  padding: 10px 20px;
  text-decoration: none;
  border: 0;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: .875rem;
  font-family: 'Open Sans', sans-serif;
  &:hover {
    cursor: pointer;
  }
}

.button--primary {
  background-color: $blue;
  color: #fff;
  transition: background-color 200ms;
  &:hover {
    background-color: $black;
  }
}

.button--secondary {
  background-color: #fff;
  color: $black;
  transition: background-color 200ms, color 200ms;
  &:hover {
    background-color: $black;
    color: #fff;
  }
}

.button--tertiary {
  background-color: $black;
  color: #fff;
  transition: background-color 200ms;
  &:hover {
    background-color: $blue;
  }
}

.button--ghost {
  border: 2px solid #fff;
  color: #fff;
  transition: background-color 200ms, color 200ms;
  &:hover {
    background-color: #fff;
    color: $black;
  }
}

.content-block__button-wrapper {
  .button {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
  }
}

.scroll-button {
  display: inline-block;
  padding: 8px 10px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
  line-height: 1;
  img {
    height: 20px;
    width: 20px;
  }
}

blockquote {
  border-left: 15px solid #eee;
  margin: 20px 0;
  padding-left: 40px;
}

.page-header {
  padding: 60px 0;
}

.post-items {
  .post {
    padding-bottom: 4em;
  }
}

.page-links,
.post-items .post {
  margin: 1.5em 0 0;
}

.search-form {
  margin-top: 1.5em;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  input {
    min-width: 300px;
    padding: 10px 20px;
    margin: 0 10px 0 0;
  }
}

