@import 'content-blocks/content-block-icon-left';
@import 'content-blocks/content-block-image-background-with-buttons';
@import 'content-blocks/content-block-image-left';
@import 'content-blocks/content-block-basic-text';
@import 'content-blocks/content-block-staff-list';
@import 'content-blocks/content-block-card-list';
@import 'content-blocks/content-block-quote-section';
@import 'content-blocks/content-block-icon-list';
@import 'content-blocks/content-block-page-list';

.content-block {
	padding: 140px 5%;
	.section-heading {
		margin-top: 0;
	}
}

.content-block.background-white + .content-block.background-white {
	padding-top: 0;
}

@media (max-width: 780px) {
	.content-block {
		padding: 50px 5%;
	}
}