.event {
	display: flex;
	display: -webkit-flex;
	&__image {
		flex-shrink: 0;
		width: 400px;
	}
	&__content {
		padding-left: 5%;
	}
}

#tribe-events {
	.tribe-events-loop {
		max-width: 1140px;
	}
	.tribe-events-event-image {
		width: 100%;
		float: none;
		a {
			width: 100%;
		}
	}
	.tribe-events-read-more {
		padding: 10px 20px;
	  text-decoration: none;
	  border: 0;
	  border-radius: 3px;
	  background-color: $black;
  	color: #fff;
  	transition: background-color 200ms;
	  &:hover {
	    cursor: pointer;
	    background-color: $blue;
	  }
	}
}

.single-tribe_events {
	.page-banner.subpage-banner {
		display: none;
	}
	.tribe-events-event-image img {
		display: none;
	} 
}

.post-type-archive-tribe_events {
	.page-banner.subpage-banner {
		display: none;
	}
}

@media (max-width: 980px) {
	.event {
		&__image {
			flex-shrink: 0;
			width: 40%;
		}
	}
}

@media (max-width: 768px) {
	#tribe-events {
		.tribe-events-event-meta {
			background: transparent;
	    border: 0;
	    margin-top: 12px;
	    padding: 0;
		}
		.tribe-event-schedule-details {
			padding-left: 0;
		}
	}
}

@media (max-width: 680px) {
	.event {
		display: block;
		&__image {
			flex-shrink: 0;
			width: 100%;
		}
		&__content {
			padding-left: 0;
			padding-top: 5%;
		}
	}
	#tribe-events {
		.tribe-events-list .tribe-events-event-image img {
			height: 400px;
			width: 100%;
			object-fit: cover;
		}
	}
}

@media (max-width: 580px) {
	#tribe-events {
		.tribe-events-list .tribe-events-event-image img {
			height: 300px;
		}
	}
}