@import 'variables';

.site-footer {
	background-color: $black;
	color: #fff;
	padding: 50px 50px;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	text-align: center;
	p {
		margin: 0;
	}
	&__social-icon i {
    font-size: 1.25em;
    color: #fff;
    margin: 10px 10px 20px;
	}
	&__logo img {
		height: 80px;
		width: 80px;
		margin-bottom: 10px;
	}
}
