@import 'variables';

.site-header {
	background-color: $black;
	height: 80px;
	.flex-wrapper {
		align-items: center;
		-webkit-align-items: center;
		z-index: 100; // Darn plugins overkilling it with their z-index values.
		background-color: $black;
		position: fixed;
		width: 100%;
		padding: 14px 50px;
		transition: background-color 250ms, padding 250ms;
		&.sticky {
			background-color: rgba(0,0,0,0.9);
			padding: 10px 50px;
			.desktop-menu a {
				padding: 10px 15px;
			}
		}
	}
  &__social {
    flex-shrink: 0;
    i {
      font-size: 1rem;
      color: #fff;
      margin: 0 8px;
    }
  }
}

.site-header__logo {
	width: 220px;
	min-width: 200px;
	transition: width 250ms;
  margin-right: 15px;
	a {
		display: flex;
		display: -webkit-flex;
		align-items: center;
		-webkit-align-items: center;
	}
  .mobile-logo {
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.video-header {
  padding: 15% 5%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  color: #fff;
  position: relative;
  background-color: $black;
  .video-header__content {

  }
  .video-header__background,
  .video-header__image {
  	position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: $black;
    width: 100%; 
  	height: 100%;
    animation: 500ms fadeIn ease-in;
    &::after {
    	content: '';
    	height: 100%;
    	width: 100%;
    	position: absolute;
    	background-color: rgba( 0, 0, 0, .3);
    	top: 0;
    	left: 0;
    }
    video {
    	min-width: 100%; 
  		min-height: 100%;
  		width: auto;
  		height: auto;
    }
  }
  .video-header__image {
    opacity: 0;
    transition: opacity 250ms;
    display: none;
  }
  .video-header__tagline {
  	margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    p {
      opacity: 0;
      animation-name: slideInUp;
      -webkit-animation-name: slideInUp;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      animation-delay: 800ms;
    }
    p:nth-of-type(2) {
      animation-delay: 1400ms;
    }
    p:nth-of-type(3) {
      animation-delay: 2000ms;
    }
  }
  .video-header__body {
  	font-size: 1.25em;
    animation-delay: 2400ms;
    animation-name: slideInLeft;
    -webkit-animation-name: slideInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    font-family: 'Open Sans', sans-serif;
  }
  .button-wrap {
  	margin-top: .5rem;
    animation-delay: 2800ms;
    animation-name: slideInUp;
    -webkit-animation-name: slideInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  video {
  	width: 100%;
  }
}

.subpage-banner {
  background-position: center;
  background-size: cover;
  height: 500px;
  height: 50vh;
  min-height: 200px;
  max-height: 600px;
  position: relative;
  z-index: 1;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  color: #fff;
  background-color: $blue;
  &::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba( 0, 0, 0, .25);
    top: 0;
    left: 0;
  }
  .page-banner__content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 0 5%;
    flex-shrink: 0;
    width: 100%;
    h1 {
      text-transform: uppercase;
      flex-shrink: 0;
      color: #fff;
    }
  }
  .page-banner__text {
    font-size: 1.3rem;
  }
}

.page-banner__no-image.subpage-banner {
  height: 300px;
  &::after {
    content: '';
    height: 0;
  }
}

@media (max-width: 780px) {
  .video-header .video-header__background {
    display: none;
  }
  .video-header .video-header__image {
    opacity: 1;
    display: block;
  }
}

@media (max-width: 580px) {
  .video-header .video-header__tagline p {
    font-size: 2em;
    line-height: 2rem;
    margin-bottom: 0.5rem;
  }
  .page-banner__no-image.subpage-banner {
    height: auto;
    h1 {
      margin: 0;
    }
    &::after {
      content: '';
      height: 0;
    }
  }
  .site-header {
    &__logo {
      width: 100px;
      min-width: 0;
      margin-right: 20px;
    }
    &__social i {
      font-size: 1.25rem;
      margin-left: 10px;
    }
    .full-logo {
      display: none;
    }
    .mobile-logo {
      display: block;
      height: 60px;
      width: 60px;
    }
    .flex-wrapper {
      padding: 14px 5%;
      &.sticky {
        padding: 14px 5%;
      }
    }
  }
}

@media (max-width: 360px) {
  .site-header {
    &__social {
      display: none;
    }
  }
}