@import 'variables';

.background-white {
	background-color: $white;
}

.background-blue {
	background-color: $blue;
	color: #fff;
	a {
		color: #fff;
	}
	h2, h3, h4, h5 {
		color: #fff;
	}
	.button--tertiary {
		border: 2px solid $black;
		transition: background-color 200ms, border 200ms;
		&:hover {
			background-color: transparent;
			border: 2px solid #fff;
		}
	}
}

.background-black {
	background-color: $black;
	color: #fff;
	a {
		color: #fff;
	}
	h2, h3, h4, h5 {
		color: #fff;
	}
}

.background-gray {
	background-color: $light-gray;
}

.background-orange {
	background-color: $orange;
	color: #fff;
}