@import 'variables';

$baseline: 1.7rem;

$minScreen: 20rem;
$maxScreen: 50rem;
$minFont: .875rem;
$maxFont: 1rem;

$h1: 3rem;
$h2: 2.25rem;
$h3: 1.75rem;
$h4: 1.25rem;
$h5: 1rem;

@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
  & {
    @each $property in $properties {
      #{$property}: $min-value;
    }

    @media screen and (min-width: $min-vw) {
      @each $property in $properties {
        #{$property}: calc(
          #{$min-value} + #{strip-unit($max-value - $min-value)} * ((100vw - #{$min-vw}) /
                #{strip-unit($max-vw - $min-vw)})
        );
      }
    }

    @media screen and (min-width: $max-vw) {
      @each $property in $properties {
        #{$property}: $max-value;
      }
    }
  }
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

html {
  @include fluid-type(font-size, $minScreen, $maxScreen, $minFont, $maxFont);
}

body {
  line-height: $baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #555;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: $baseline;
  color: $black;
}

p {
  line-height: $baseline;
  margin-bottom: $baseline;
}

.page-content li {
  margin-bottom: 10px;
}

.extra-large-text p {
  font-size: 2.5rem;
  line-height: 3rem;
  margin-top: calc((#{$baseline} - #{3rem}) + #{$baseline});
  margin-bottom: 0;
}

h1,
h2 {
  text-transform: uppercase;
}

h1 {
  font-size: $h1;
  line-height: $h1;
  margin-top: calc((#{$baseline} - #{$h1}) + #{$baseline});
}

h2 {
  font-size: $h2;
  line-height: $h2;
  margin-top: calc((#{$baseline} - #{$h2}) + #{$baseline}*2);
}

h3 {
  font-size: $h3;
  line-height: $h3;
  margin-top: calc((#{$baseline} - #{$h3}) + #{$baseline}*2);
}

h4 {
  font-size: $h4;
  line-height: $h4;
  margin-top: calc((#{$baseline} - #{$h4}) + #{$baseline}*2);
}

h5 {
  font-size: $h5;
  line-height: $h5;
  margin-top: calc((#{$baseline} - #{$h5}) + #{$baseline}*2);
}
